# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.PageDemo.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Public\Documents\Unity Projects\PageDemo\.idea\.idea.PageDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
